.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;

  a {
    color: white;
    text-decoration: none;
    font-size: 100px;
  }

  .logo {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
  }

  .navbar a {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    margin-left: 40px;
  }

  .navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.3s;
  }

  .navbar a:hover::before {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .header {
    .navbar a {
      position: relative;
      font-size: 12px;
      font-weight: 500;
      margin-left: 40px;
    }

    .logo {
      font-size: 32px;
      color: #fff;
      font-weight: 700;
    }
  }
}
