@import url("https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
html {
  font-family: "Poppins", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.div-container {
  margin: auto;
  padding: 60px 20px; /* 80px top and bottom, 20px left and right */
  margin: 50px 0; /* 50px top and bottom, 0px left and right */
}

.div-container > div:first-child {
  max-width: 1600px; /* Default max-width */
  margin: 0 auto; /* Centers the container */
  padding: 0 20px; /* Ensures content doesn't touch the screen edges */
}

a {
  text-decoration: none;
}
